@model AMP.ViewModels.DashboardModels.DashboardModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

            <div class="row x_title">
                <div class="col-md-6">
                    <h3>Disbursements v/s Repayments <small>Amount Disbursed against all LOCs vs Amount repaid</small></h3>
                </div>
                <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-sm-9 col-xs-12">
                <div id="repayment" class="demo-placeholder"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                <div class="x_title">
                    <h2>Top 5 LOCs</h2>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                        <p>GOILOC1234</p>
                        <div class="">
                            <div class="progress progress_sm" style="width: 76%;">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>GOILOC145</p>
                        <div class="">
                            <div class="progress progress_sm" style="width: 76%;">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div>
                        <p>GOI-LOC675</p>
                        <div class="">
                            <div class="progress progress_sm" style="width: 76%;">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p>GOILOC-231</p>
                        <div class="">
                            <div class="progress progress_sm" style="width: 76%;">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</div>
<br />

<div class="row">

    <div class="row">

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320">
                    <div class="x_title">
                        <h2>Regions</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h4>LOC Utilization across Regions</h4>
                        @foreach (var region in Model.Regions)
                        {
                            <div class="widget_summary">
                                <div class="w_left w_25">
                                    <span>@region.Name</span>
                                </div>
                                <div class="w_center w_55">
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@region.Percentage" aria-valuemin="0" aria-valuemax="100" style="width: @region.Percentage%;">
                                            <span class="sr-only">@string.Format("{0:0.00}", region.Percentage)% Complete</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="w_right w_20">
                                    <span>@string.Format("{0:0.00}", region.Percentage)%</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel tile fixed_height_320 overflow_hidden">
                    <div class="x_title">
                        <h2>Development Sectors</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                           
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="" style="width:100%">
                            <tr>
                                <th style="width:37%;">
                                    <p>Top 5</p>
                                </th>
                                <th>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <p class="">Sector</p>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <p class="">Allocation</p>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <canvas id="Sectors" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        @foreach (var sec in Model.Sectors)
                                        {
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square blue"></i>@sec.Name </p>
                                                </td>
                                                <td>@string.Format("{0:0.00}",sec.Percentage)%</td>
                                            </tr>
                                        }
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Member Countries <small>Allocation</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li>
                                    <a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="dashboard-widget-content">
                                <div class="col-md-4 hidden-small">
                                    <h2 class="line_30">@string.Format("{0:0.00}",Model.TotalAmount) Sanctioned to @Model.Countries countries</h2>

                                    <table class="countries_list">
                                        <tbody>
                                            @foreach (var co in Model.MemberCountries)
                                            {
                                                <tr>
                                                    <td>@co.Name</td>
                                                    <td class="fs15 fw700 text-right">@co.Amount</td>
                                                </tr>
                                            }
                                            
                                        </tbody>
                                    </table>
                                </div>
                                @*<div id="WorldMap" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Recent Activities <small>Sessions</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="dashboard-widget-content">

                        <ul class="list-unstyled timeline widget">
                            @foreach (var a in Model.Activity)
                            {
                                <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>@a.Heading</a>
                                            </h2>
                                            <div class="byline">
                                                <span>@a.PostScript</span>
                                            </div>
                                            <p class="excerpt">
                                                @a.Desciption
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

@section scripts{
<script>
    var arr_data1 = [
        @foreach(var dis in Model.Disb)
        {
            <text>
            [gd(@dis.Year, 1, 1), @dis.Count],
            </text>
        }
    ];

    var arr_data2 = [
      @foreach(var re in Model.Repayments)
        {
            <text>
            [gd(@re.Year, 1, 1), @re.Count],
            </text>
        }
    ];
    var chart_plot_01_settings = {
        series: {
            lines: {
                show: false,
                fill: false
            },
            splines: {
                show: true,
                tension: 0.4,
                lineWidth: 1,
                fill: 0.4
            },
            points: {
                radius: 0,
                show: true
            },
            shadowSize: 2
        },
        grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'
        },
        colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
        xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",
            tickSize: [2, "year"],
            //tickLength: 10,
            axisLabel: "Year",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxis: {
            ticks: 15,
            tickColor: "rgba(51, 51, 51, 0.06)",
           
        },
        tooltip: true
    }
    if ($("#repayment").length) {
        
        $.plot($("#repayment"), [arr_data1, arr_data2], chart_plot_01_settings);
    }


    var sectors_setting = {
        type: 'doughnut',
        tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        data: {
            labels: [
                @foreach(var sec in Model.Sectors)
                {
                    <text>
                    "@sec.Name",
                    </text>
                }
            ],
            datasets: [{
                data: [
                    @foreach(var sec in Model.Sectors)
                    {
                        <text>
                        @string.Format("{0:0.00}",sec.Percentage),
                        </text>
                    }
                ],
                backgroundColor: [
                    "#BDC3C7",
                    "#9B59B6",
                    "#E74C3C",
                    "#26B99A",
                    "#3498DB"
                ],
                hoverBackgroundColor: [
                    "#CFD4D8",
                    "#B370CF",
                    "#E95E4F",
                    "#36CAAB",
                    "#49A9EA"
                ]
            }]
        },
        options: { 
            legend: false, 
            responsive: false 
        }
    }
		
        var chart_element = $("#Sectors");
        var chart_doughnut = new Chart( chart_element, sectors_setting);
		
    

        $('#WorldMap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#666666',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#E6F2F0', '#149B7E'],
            normalizeFunction: 'polynomial'
        });
    	
</script>
}